<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
<ul>
                                 <li>
                                      <h4>
                                        <strong>Certified Participant in National Level Technotsav</strong> - <em> Sir M Visvesvaraya Institute of Technology, Bangalore Affiliated to Visveswaraya Technological University, Belgaum </em>
                                   </h4>
                                  </li>  
                                  <li>
                                     <h4>
                                       <strong>National Symposium Programme</strong> - <em>Coventry University, Coventry, UK at M.S. Ramaiah Institute of Technology, Bangalore</em>
                                    </h4> 
                                  </li>
                                  <li>
                                    <h4>
                                      <strong>Participant in International Conference</strong>, <em>Intel Corporation,USA organised in Bangalore-2004</em>
                                    </h4>
                                  </li>
                                  <li>
                                    <h4>
                                      <em>Participant and</em>  <strong>Intel key note award winner</strong> <em>Intel key note award winner – 2004</em>
                                    </h4>
                                  </li>
                                  <li>
                                    <h4>
                                      <em>Academic Teacher Excellence</em> <strong>Appreciation Award</strong> <em>Appreciation Award (Cerified)</em>
                                    </h4>
                                  </li>
                                  <li>
                                    <h4>
                                      <strong>National workshop</strong><em>National workshop on Recent trends in middleware Technology-GMR Institute of Technology sponsored by Department of Higher Education, MHRD - Department of Science and Technology(DST), New Delhi – 2009 ( Six Days Workshop)</em>
                                    </h4>
                                  </li>
                                  <li>
                                    <h4>
                                      <strong>Chair Person for Technical Session in International Conference</strong> <em>on Innovative Research in Engineering and Technology iCERT 2010, at Park College of Engineering and Technology in association with University of East London(UEL) - Dr.S.Arunachalam, Co-Chairman of International Conference-iCERT'2010, UEL, Beckton, UK </em>
                                    </h4>
                                  </li>
                                  <li>
                                    <h4>
                                      <strong>Resource Person for National Seminar and Workshop</strong> <em>Resource Person for National Seminar and Workshop - GMR Institute of Technology,Vishkhapatanm, Andhra Pradesh </em>
                                    </h4> 
                                  </li>
                                  <li>
                                    <h4>
                                      <strong>Intel Research</strong><em>Intel Research Programme participant -Recognition</em> 
                                    </h4>  
                                  </li>
                                  <li>
                                     <h4>
                                       <strong>Oracle University(OU)</strong>  - <em>Recognition</em>
                                    </h4>  
                                  </li>
                                  <li>
                                    <h4>
                                      <strong>Oracle certified Recognition</strong><em> from Oracle Corporation,California, USA sponsored by Vision Group of science and <strong>Technology(VGST)-Government of Karnataka</strong>, Bangalore, India (Registered Oracle Certified Trainer)</em>
                                    </h4>
                                  </li>
                                  <li>
                                    <h4>
                                      <strong>Attended National seminar</strong> <em>at University Visveswaraya College of Engineering(UVCE), Bangalore- <strong>Dr. Rajkumar Buyya, Professor, Universitiy of Melbourne, Australia</strong> - “The creation of high-performance computing and communication system software for PARAM supercomputers” developed by the Centre for Development of Advanced Computing (C-Dnhi ho gya be
                                    AC), Bangalore, India</em>
                                    </h4>
                                  </li>
                                  <li>
                                    <h4>
                                      <em>Event Attended at Park college of Engineering and Technology - Mr.Ankit Fadia,</em> <strong>Certified Ethical Hacker</strong>, <em>Reliance world, Coimbatore -2010</em>
                                      </h4>
                                  </li>
                                  <li>
                                    <h4>  
                                      <strong>One Day workshop'2010 on J2EEE Technology</strong> <em>-Spring Framework, Mr.Arul Prakash, Sr.Software Engineer,</em> <strong>Cognizant Technology Solution, Coimbatore, Tamil Nadu, India</strong>
                                    </h4>
                                  </li>
                                  <li>
                                    <h4>
                                      <strong>Seminar on Cloud Computing </strong><em>by e-prism, Topic on Programmers Re-innovative Software Methodology by Ms.Amirtha Manickam, HCL Infosystems, Coimbatore,Tamil Nadu,India</em>
                                    </h4>
                                  </li>
    </ul>
        <% contributions.forEach(function(contribution){ %>
        <ul>
          <li>
            <h4><em><%- contribution.contribution %></em></h4><em>
          </li>
        </ul>
      <% }); %>
   <a class="btn btn-primary" href="/resume/contribution/new">add new contribution</a>
      <div class="form-group">
                  <a id="back" href="/resume">GO BACK</a>
               </div>
      </div>

<style>
  



</style>