<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
<ul>
                                 <li>
                                      <strong>Certified Participant in National Level Technotsav</strong> - Sir M Visvesvaraya Institute of Technology, Bangalore Affiliated to Visveswaraya Technological University, Belgaum 
                                      </li>  
                                  <li>
                                      <strong>National Symposium Programme</strong> - Co
                                      ventry University, Coventry, UK at M.S. Ramaiah Institute of Technology, Bangalore
                                  </li>
                                  <li>
                                    <strong>Participant in International Conference</strong>, Intel Corporation,USA organised in Bangalore-2004
                                  </li>
                                  <li>
                                    Participant and <strong>Intel key note award winner</strong>Intel key note award winner – 2004
                                  </li>
                                  <li>
                                    Academic Teacher Excellence <strong>Appreciation Award</strong>Appreciation Award (Cerified)
                                  </li>
                                  <li>
                                    <strong>National workshop</strong>National workshop on Recent trends in middleware Technology-GMR Institute of Technology sponsored by Department of Higher Education, MHRD - Department of Science and Technology(DST), New Delhi – 2009 ( Six Days Workshop)
                                  </li>
                                  <li>
                                    <strong>Chair Person for Technical Session in International Conference</strong> on Innovative Research in Engineering and Technology iCERT 2010, at Park College of Engineering and Technology in association with University of East London(UEL) - Dr.S.Arunachalam, Co-Chairman of International Conference-iCERT'2010, UEL, Beckton, UK 
                                  </li>
                                  <li>
                                     <strong>Resource Person for National Seminar and Workshop</strong>Resource Person for National Seminar and Workshop - GMR Institute of Technology,Vishkhapatanm, Andhra Pradesh 
                                  </li>
                                  <li>
                                      <strong>Intel Research</strong>Intel Research Programme participant -Recognition 
                                  </li>
                                  <li>
                                      Oracle University(OU) - Recognition
                                  </li>
                                  <li>
                                    <strong>Oracle certified Recognition</strong> from Oracle Corporation,California, USA sponsored by Vision Group of science and <strong>Technology(VGST)-Government of Karnataka</strong>, Bangalore, India (Registered Oracle Certified Trainer)
                                  </li>
                                  <li>
                                    <strong>Attended National seminar</strong> at University Visveswaraya College of Engineering(UVCE), Bangalore- <strong>Dr. Rajkumar Buyya, Professor, Universitiy of Melbourne, Australia</strong> - “The creation of high-performance computing and communication system software for PARAM supercomputers” developed by the Centre for Development of Advanced Computing (C-Dnhi ho gya be
                                    AC), Bangalore, India
                                  </li>
                                  <li>
                                    Event Attended at Park college of Engineering and Technology - Mr.Ankit Fadia, <strong>Certified Ethical Hacker</strong>, Reliance world, Coimbatore -2010
                                  </li>
                                  <li>
                                    <strong>One Day workshop'2010 on J2EEE Technology</strong> -Spring Framework, Mr.Arul Prakash, Sr.Software Engineer, <strong>Cognizant Technology Solution, Coimbatore, Tamil Nadu, India</strong>
                                  </li>
                                  <li><strong>Seminar on Cloud Computing </strong>by e-prism, Topic on Programmers Re-innovative Software Methodology by Ms.Amirtha Manickam, HCL Infosystems, Coimbatore,Tamil Nadu,India
                                  </li>
    </ul>
  <% contributions.forEach(function(contribution){ %>
  <ul>
    <li>
      <%- contribution.contribution %>
    </li>
  </ul>
<% }); %>
   <a class="btn btn-primary" href="/resume/contribution/new">add new contribution</a>
  <div class="form-group">
              <a id="back" href="/resume">GO BACK</a>
           </div>
  </div>

<style>
  



</style>