<% include partials/header %>


    <!-- HOME -->
    <div id="home" class="collapse show">
      <div class="card card-block bg-primary text-white py-5">
        <h2 style="text-align:center;">Welcome To My Page</h2>
      </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

        <div class="img-thumbnail">
            <img class="img-fluid img-responsive" src="http://mediaprocessor.websimages.com/width/689/crop/38,21,610x365/pavangp.webs.com/Crawford_Hall,_University_of_Mysore.jpg" ><img >
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <em>Pavan Gujjar is currently a Google Research Scholar in the Department of Computer Engineering, Software Engineering Laboratory at St. John College of Engineering and Management, Mumbai University, Maharastra.India. He received his Bachelor of Engineering and Master of Engineering degrees, both in Computer Science and Engineering, from <strong><a href="http://www.uni-mysore.ac.in/">University of Mysore</a></strong> and <strong><a href="http://bangaloreuniversity.ac.in/">Bangalore University</a></strong>, India. His research interests can be summarized as developing effective and efficient MIR Flickr data analysis techniques for Graphical Password Authentication and the related applications. </em>
      </div>
    </div>
    <div class="card card-block py-5">
        <h3 style="text-align:center;"><a class="btn btn-lg" style="color:red;
                                                                    border:2px solid red" href="http://sjmit.ac.in/">Qualification</a></h3>
        <hr>
        <h2 style="text-align:center">Ph.D</h2>
          <em style="text-align:center">Andhra University</em>
            <em style="text-align:center">
              Computer Science and Systems Engineering <a href="http://andhrauniversity.edu.in/webnew/index.php">Andhra University</a> , India year of passing:-2017
            </em>
            <hr>
        <h2 style="text-align:center">Master of Engineering </h2>
          <em style="text-align:center">
            Computer Science and Engineering <a href="http://bangaloreuniversity.ac.in/">Bangalore University</a>,India year of passing:-2000
          </em>
          <br>
        <h2 style="text-align:center">Bachelor of Engineering </h2>
        <em style="text-align:center">
          Computer Science and Engineering <a href="http://www.uni-mysore.ac.in/">University of Mysore</a>, India year of passing:-1990
        </em>
      </div>
    </div>


<% include partials/footer %>
