<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="container">
  <div class="row">
    <div class="col col-lg-4 col-sm-0 col-xs-0 "> </div>
  <div class=" col col-lg-4 col-sm-12 col-xs-12">
      <h1>Add New workshop</h1>
      <div id = "frm">
        <form action="/resume/workshop" method="POST">
        <div class="form-group">
            <textarea type="text" class="form-control"  rows="8"  placeholder="Add Workshop" name="workshop"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-block btn-lg btn-primary">submit</button>
        </div>
            <div class="form-group">
              <a id="back" href="/resume/workshop">GO BACK</a>
           </div>
          </form>
      </div>
  </div>
      <div class="col col-lg-4 col-sm-0 col-xs-0 "> </div>
      </div>
  </div>



<style>
  
  #back{
    color:#0A044D;
  }
  
  body{
    background-color:#156B72;
    color:#33FFE0
  }
  
  h1{
    text-align:center;
  }
  #frm{
/*     width:30%; */
/*     margin:25px auto; */
    border-radius:2px solid red;
  }
  
  
</style>





