<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container"> 
<ul>
    <li><strong>Pavan Gujjar Panduranga Rao</strong>, "The MIR Flickr Retrieval Evaluation Proposal Based on User Tags and Textual   Passwords", International Journal of Advanced Engineering, Management and Science, Vol.3,Issue-4, 2017 Pg 343- 349</li>
    <li><strong>Pavan Gujjar Panduranga Rao</strong>, “Hybrid model based on user tags and textual passwords and pearsonian type    III   mixture model”, International Journal of Advanced Engineering Research and Science - volume- 4, Issue-3, 2017</li>
     <li><strong>Pavan Gujjar Panduranga Rao</strong>,”A New Technique For User Authentication Using Numeric One Time Password Scheme”, International Journal of Computer Sciences and Engineering, Volume 4,Issue-5, 2016 (Citation)</li>
      <li><strong>Pavan Gujjar Panduranga Rao</strong>, ”A Trust Management for Peer 2 Peer Information Systems”  International Journal of Scientific and Research Publications(IJSRP) ,volume-5,issue-6 -2015</li>
        <li><strong>Pavan Gujjar Panduranga Rao</strong>,”Advanced Multi-Encryption Technique in Cloud Computing”,International Journal of Innovative Research in Advanced Engineering (IJIRAE), vol-1, Issue-4, 2014</li>
         <li><strong>Pavan Gujjar Panduranga Rao</strong>,”Advanced Re-Encryption Technique And Verification Process In Cloud Computing”, International Journal of Innovative Science, Engineering & Technology(IJSET), Vol-1 Issue-4, June' 2014</li>
          <li><strong>Pavan Gujjar Panduranga Rao</strong>,”A study of various graphical passwords authentication schemes using the AI Hans Peter Wickelgren approach”,International Organization of Scientific Research - Journal of Computer(IOSR-JCE), Vol-10, Issue - 6 - 2013</li>
        <li><strong>Pavan Gujjar Panduranga Rao</strong>, ”A Study and Application on Cross-Disciplinary Proficiency Learning of Artificial Intelligence”, International Journal of Scientific and Engineering Research (IJSER) Volume-2 Issue-5, June -2011</li>
       
                         
</ul>
<% publications.forEach(function(publication){ %>
  <ul>
    <li>
      <%- publication.description %>
    </li>
  </ul>
<% }); %>
  <a class="btn btn-primary" href="/resume/publication/new">add new publication</a>
  <div class="form-group">
              <a id="back" href="/resume">GO BACK</a>
           </div>
</div>



