<% include partials/header %>

  <!-- About-->
    <div id="resume">
      <div class="card card-block bg-success text-white py-5">
        <h2 style="text-align:center;">About</h2>
        <p class="lead" style="text-align:center;">St. John College of Engineering and Management [SJCEM]</p>
      </div>
      <div class="row" class="collapse">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="img-thumbnail">
            <img class="img-fluid img-responsive" src="http://mediaprocessor.websimages.com/width/530/crop/0,0,530x318/pavangp.webs.com/sjcoe%20rigester.jpg" ><img >
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <ul style="color:blue;
                     font-family: 'Slabo 27px', serif;">
            <li>Oracle Corporation</li>
            <li>Intel Corporation</li>
            <li>MS Ramaiah Institute of Technology, Bangalore, India</li>
            <li>Sir M Visveswaraya  Institute of Technology, Bangalore, India</li>
            <li>BTL Institute of Technology, Bangalore, India</li>
            <li>GMR Institute of Technology, Vishkhapatanam, India </li>
            <li>Vision Group of Science and Technology, Government of Karnataka, India</li>
            <li>Jawaharlal Nehru Technological University, Kakinada, India </li>
            <li>Visveswara Technological University(VTU),Karnataka, India</li>
            <li>Anna University, Coimbatore, India </li>
            <li>Mumbai University, India </li>
            <li>Andhra University, India</li>
            <li>Mysore University, India</li>
            <li>Bangalore University, India </li>
            <li>Oracle University </li>
          </ul>
        </div>
      </div>

      <div class="card card-block py-5">
         <div style="text-align:center;">
                    <h2 style="color:green">AREA OF INTEREST</h2>
              <div>
                  <h5><i class="fa fa-check"></i><em> Artificial Intelligence [ AI ]   </em></h5> 
              </div>
              <div>
                <h5><i class="fa fa-check"></i><em> Big Data and Analytic  </em></h5>
              </div>
              <div>
                  <h5><i class="fa fa-check"></i><em> Cloud Computing [ CC ] </em></h5> 
              </div>
              <div>
                  <h5><i class="fa fa-check"></i><em> Data Mining  </em></h5> 
              </div>
              <div>
                  <h5><i class="fa fa-check"></i><em> Graphical Authentication   </em></h5> 
              </div>
              <div>
                  <h5><i class="fa fa-check"></i><em> Computer Engineering [CE ]   </em></h5> 
              </div>
             </div>
        <hr>
              <h4 style="text-align:center;
                         color:green;">Qualification, Experience, Affiliation, Recognition, Contribution, Certification, Achievement, Award</h4>
        <hr>
              <div class="card-deck">
                <div class="card" style="text-align:center;">
                  <div class="card-block">
                    <h4 class="card-title">Google Research Scholar Journal Publications</h4>
                    <p class="card-text"><strong>Pavan Gujjar Panduranga Rao</strong>, "The MIR Flickr Retrieval Evaluation Proposal Based...</p>

                    <button type="button" class="btn btn-primary"><a style="color:white;" href="/resume/publication"> View More</a></button>
                    
                  </div>
                </div>
<!--  car2-->
                <div class="card">
                  <div class="card-block" style="text-align:center;">
                    <h4 class="card-title">CONTRIBUTIONS</h4>
                    <p class="card-text"><strong>Certified Participant in National Level Technotsav</strong> - Sir M Visvesvaraya Institute of...</p>
                    
                    <button type="button" class="btn btn-primary"><a style="color:white;" href="/resume/contribution"> View More</a></button>

                  </div>
                </div>
                
<!--                card3-->

                <div class="card">
                  <div class="card-block" style="text-align:center;">
                    <h4 class="card-title">Seminars / Workshops / Symposium</h4>
                    <p><strong>National Technostav </strong>– <a href="http://www.sirmvit.edu/">Sir M Visveswaraya Institute of Technology...</a></p>
                   
                    <button type="button" class="btn btn-primary"><a style="color:white;" href="/resume/workshop"> View More</a></button>

                   
                  </div>
                </div>
              </div>
           
            </div>
         </div>
<% include partials/footer %>
