<% include partials/header %>
<div id="skills"> 
   <div class="card card-block bg-warning text-white py-5">
        <h2 style="text-align:center;">Skills</h2>
      </div>
   <div class="card card-block py-5">
         <div style="text-align:center;">
                    <h2 style="color:orange">Computer Skills :</h2>
              <div>
                  <h5><i class="fa fa-check"></i><em> Very Strong programming for artificial intelligence algorithms</em></h5> 
              </div>
              <div>
                <h5><i class="fa fa-check"></i><em> Very strong object-oriented concept using AI tools. </em></h5>
              </div>
              <div>
                  <h5><i class="fa fa-check"></i><em> Grasp quickly on the new technologies, software, packages, and technical trends.</em></h5> 
              </div>
     </div>
     <hr>
     <div style="text-align:center;">
                    <h2 style="color:orange">Areas of skills include, but are not limited to:</h2>
              <div>
                  <h4>1.<em> Programming Languages</em></h4> 
              </div>
              <div>
                  <p><i class="fa fa-check"></i><em> Proficient in C ,OOPL , and MATLAB</em></p> 
              </div>
              <div>
                  <p><i class="fa fa-check"></i><em> Familiar with J#.net, Pascal, Fortran, PROLOG, LISP, and 80x86 Assembly</em></p> 
              </div>
              <div>
                  <h4>2.<em>  Tools and Web Development</em></h4> 
              </div>
              <div>
                <p><i class="fa fa-check"></i><em> Proficient in MS Office </em></p>
              </div>
              <div>
                  <p><i class="fa fa-check"></i><em> Familiar with ASP.NET, HTML and XML</em></p> 
              </div>
              <div>
                  <h4>3.<em>  Database Systems</em></h4> 
              </div>
              <div>
                  <p><i class="fa fa-check"></i><em> Proficient in Oracle -10g Enterprise edition, (Certified by Oracle Corporation, California, USA/university (OU) with oracle Register Number)</em></p> 
              </div>
              <div>
                  <p><i class="fa fa-check"></i><em> Familiar in SQL Server (Microsoft)</em></p> 
              </div>
              <div>
                  <h4>4.<em>  Environments</em></h4> 
              </div>
              <div>
                  <p><i class="fa fa-check"></i><em> Proficient in Windows- xx Series</em></p> 
              </div>
              <div>
                  <p><i class="fa fa-check"></i><em> Familiar with LINUX and UNIX</em></p> 
              </div>
       
     </div>
      <div class="card-deck">
                <div class="card" style="text-align:center;">
                  <div class="card-block">
                    <h4 class="card-title">Memberhip</h4>
                    <p class="card-text"><strong>MEMBERSHIP OF ACADEMIC BODI..</p>

                    <button type="button" class="btn btn-primary"><a style="color:white;" href="/skills/membership"> View More <i class="fa fa-arrow-circle-right"></i></a></button>
                    
                  </div>
                </div>
<!--  car2-->
                <div class="card" style="text-align:center;">
                  <div class="card-block" >
                    <h4 class="card-title">Works</h4>
                    <p class="card-text">Professional and Educational Details :....</p>
                    
                    <button type="button" class="btn btn-primary"><a style="color:white;" href="/skills/work"> View More <i class="fa fa-arrow-circle-right"></i></a></button>

                  </div>
                </div>
        </div>
     </div>
  
</div>
<% include partials/footer %>