<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container" style="text-align:center;
                              color:#0C21BA"> 
      <h1>Professional and Educational Details :</h1>
      <h3><i class="fa fa-check"></i> Work Experience :- Total 26 years (Full Time Academic and Research Experience in Reputed Engineering College / University)</h3>
        <h3><i class="fa fa-check"></i> Skills :- C,UNIX /knowledge base Development</h3>
        <h3><i class="fa fa-check"></i> Industry :- Education – Academic / Industry relation</h3>
        <h3><i class="fa fa-check"></i> Category :- Human Resource, Admin & Recruitment</h3>
        <h3><i class="fa fa-check"></i> Roles :- HR Manager, Professor, Training, Projects ,Administrator</h3>
        <h3><i class="fa fa-check"></i> Current Employer :-  Engineering and Technology, Institution, Bangalore, Karnataka, India Appointment order, work permit or Need H1 Visa</h3>
        <h3><i class="fa fa-check"></i> Work Authorization :- Appointment order, work permit or Need H1 Visa</h3>
        <h3><i class="fa fa-check"></i> Highest Degree Held :- PhD, M.E, B.E., Computers Science and Engineering</h3>
        <h3><i class="fa fa-check"></i> Present Position :-  Professor and Head [ Computer Engineering Department ]</h3>
        <h3><i class="fa fa-check"></i> Current Location :- Bangalore, Karnataka, India </h3>
        <h3><i class="fa fa-check"></i> Ready to Relocate  :- Yes</h3>
        <h3>Languages :- English, Kannada and Telugu (Excellent, Excellent and Excellent respectively)</h3>
      
   
  
  
       
 
    
      <div class="form-group">
                  <a id="back" class="btn btn-primary" style="margin-top:10px;
                                                              text-align:center" href="/skills"> <i class="fa fa-arrow-circle-left"></i> GO BACK</a>
      </div>

</div>
<% include partials/footer %>


